.nav-link {
  cursor: pointer;
}
.active.nav-item {
  background-color: black !important;
  .nav-link {
    color: white !important;
  }
}

.price-text {
  color: white !important;
  background-color: red !important;
  width: fit-content;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  font-weight: bold !important;
}
.img-big-ad {
  position: relative !important;
}

.cardLink {
  text-decoration: none !important;
  color: inherit !important;
}
.adCard:hover {
  border: 2px solid red !important;
  cursor: pointer;
}
.img-random-profile {
  width: 100% !important;
  border-radius: 50%;
}
